@import 'tailwindcss';
@plugin "daisyui";
/* google font Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --primary-bg-color: #f8faf9;
  --secondary-bg-color: #f8faf9;
  --third-bg-color: #f8faf9;
  --fourth-bg-color: #4d6453;
  --primary-color: #00322e;
  --secondary-color: #202020;
  --span-color: #b5b7b3;
  --button-bg-color: #004b45;
}
body {
  background-color: var(--primary-bg-color);
  font-family: 'Merriweather', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
