@import 'tailwindcss';
@plugin "daisyui";

:root {
  --primary-bg-color: #f8faf9;
  --secondary-bg-color: #f8faf9;
  --third-bg-color: #f8faf9;
  --fourth-bg-color: #4d6453;
  --primary-color: #00322e;
  --secondary-color: #202020;
  --span-color: #b5b7b3;
  --button-bg-color: #004b45;
}
body {
  background-color: var(--primary-bg-color);
}
